/* Universal Styles */

body {
  max-width: 1200px;
  margin: auto;
  font-family: Nunito, sans-serif;
  font-size: 1rem;
  line-height: 1.375em;
  color: rgb(64, 64, 64);
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 3rem;
  line-height: 1.05em;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.25em;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.25em;
}

button {
  color: white;
  background-color: rgb(64, 64, 64);
  font-family: Nunito, sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

a:hover {
  color: deepskyblue;
}

.scalable {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.grey-background {
  background-color: lightgray;
}

.lightgrey-background {
  background-color: gainsboro;
}

.uppercase {
  text-transform: uppercase;
}

.no-word-space {
  word-spacing: -6px;
}

.no-margin {
  margin: 0;
}

/* Flexbox Settings */

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row-center,
.flex-row-stretch {
  -ms-flex-line-pack: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-row-stretch {
  align-items: stretch;
}

.flex-row-sa {
    justify-content: space-around;
}

.flex-column-start,
.flex-column-center {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.flex-column-center {
  align-items: center;
}

/* Header */

header.menu {
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

div.logo {
  height: 2rem;
}

.logo span {
  color: grey;
  font-weight: 300;
}

nav {
  justify-content: end;
  align-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  justify-content: flex-end;
}

.li-space {
  padding-right: 1rem;
}

.mobile-menu {
  display: none;
  height: 4rem;
  width: 100%;
}

.mobile-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  width: auto;
}

/* Banner */

.banner-img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.banner-sx {
  width: 60%;
  height: 100%;
  flex-grow: 3;
  margin: 2rem 1.5rem;
}

.banner-dx {
  width: 40%;
  height: auto;
  flex-grow: 2;
}

.banner-dx header {
  width: 100%;
}

.banner-dx header h1,
.banner-dx header h3 {
  margin: 1rem;
}

.banner-dx button {
  width: 90%;
  padding: 0.5rem 0;
  margin: 1rem;
}

/* Blog posts */

.post-sx {
  width: 60%;
  height: 100%;
  padding: 2rem 1.5rem;
}

.post-dx {
  width: 40%;
  height: 100%;
  padding: 1rem 0;
}

.left-description {
  width: 65%;
  margin: 0.5rem 0;
  margin-right: 0.5rem;
}

.left-description h3,
.left-description p {
  margin-bottom: 0.5rem;
}

.left-img {
  width: 35%;
  padding: 1rem;
}

.author {
  margin: 2rem 0 0;
}

.paragraph {
  margin: 1.5rem 0 0;
}

.post-sx h2 {
  margin: 2rem 0 0;
}

/* Courses Section */

.courses header{
  margin-top: 2rem;
}

.courses header h2 {
  margin: 0;
}

div.courses {
  margin: 2rem 4rem;
  flex-wrap: wrap;
}

div.courses-mobile {
  display: none;
  width: 100%;
  margin-top: 1rem;
}

div.courses-mobile h3 {
  margin: 0 0 0.5rem;
  padding: 1rem 1rem 1.5rem;
  background-color: lightgrey;
}

.single-course {
  background-color: white;
  margin: 1rem;
  width: 100%;
  flex: 2 1 30%;
}

.single-course h3,
.single-course p {
  margin: 1rem;
}

.single-course p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

p.courses-categories {
  margin-bottom: 1.5rem;
}

/* Thesis Section */

section.thesis {
  padding: 2rem 0;
}

.thesis header {
  margin-bottom: 2rem;
}

.thesis header h2 {
  margin: 0;
}

.thesis-sx {
  width: 60%;
  height: auto;
  margin: 0 1.5rem;
}

.thesis-sx h3 {
  margin-top: 1.5rem;
}

.thesis-sx p {
  margin-top: 0.5rem;
}

.thesis-dx {
  width: 40%;
  height: auto;
}

.thesis-dx-img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.thesis-dx h3 {
  margin: 0;
}

.thesis-dx p {
  margin: 0.5rem 0;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-top: 1px solid lightgrey;
}

footer p {
  margin: 1rem 1.5rem;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  margin: 0 0.5rem;
}

/* Responsive Settings */

.mobile {
  display: none;
}

/* Smartphones and small tablets text sizes */
@media only screen and (min-width: 320px) and (max-width: 767px) {

  body,
  h1 {
    line-height: 1.25em;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.625rem;
    line-height: 1.15384615em;
  }

  h3 {
    font-size: 1.375rem;
    line-height: 1.13636364em;
  }
}

/* Most of smartphones */
@media only screen and (min-width: 320px) and (max-width: 480px) {

  /* Flexbox */

  .flex {
    flex-wrap: wrap;
  }

  /* Mobile Menu */

  header.menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  /* Banner Section */

  .banner-sx,
  .banner-dx {
    max-width: 100%;
    margin: 0;
  }

  .banner-dx {
    margin: 0 1rem;
  }

  .banner-dx header {
    max-width: 100%;
  }

  .banner-dx h1 {
    margin: 2rem 0;
  }

  .banner-dx h3 {
    margin: 0 0 1.5rem 0;
  }

  .banner-dx button {
    width: 100%;
    margin-bottom: 2rem;
    color: white;
    background-color: grey;
  }

  /* Blog Section */

  .post-sx {
    display: none;
  }

  .post-dx {
    width: 100%;
    padding: 0;
    margin: 1rem 1rem 2rem;
  }

  .post-dx .grey-background {
    background-color: white;
  }

  .second {
    margin: 4rem 0;
  }

  .left-img {
    width: 100%;
    padding: 0;
  }

  img.desktop {
    display: none;
  }

  img.mobile {
    display: block;
  }

  .left-description {
    width: 100%;
    margin: 1rem;
  }

  .left-description h3,
  .left-description p {
    margin-left: 0;
    margin-right: 0;
  }

  /* Courses Section */

  section.courses {
    background-color: white;
    border-top: 1px solid lightgray;
    padding: 2rem 1rem 1.5rem;
  }

  .courses header {
    margin: 0 1rem;
  }

  div.courses {
    display: none;
  }

  div.courses-mobile {
    display: block;
  }

  /* Thesis Section */

  section.thesis {
    margin-bottom: 1.5rem;
    border-top: 1px solid lightgrey;
  }

  .thesis header {
    margin-bottom: 1rem;
  }

  div.thesis {
    width: 100%;
  }

  .thesis-dx {
    display: none;
  }

  .thesis-sx {
    width: 100%;
    margin: 0;
  }

  .thesis-sx h3,
  .thesis-sx p {
    display: none;
  }

  /* Footer */

  footer {
    border: none;
  }

  footer ul {
    display: none!important;
  }

  footer p {
    margin: 1rem;
  }
}

/* Tablets and iPads (landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* Text sizes */

  body {
    line-height: 1.375em;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 1.125em;
  }

  h2,
  h3 {
    font-size: 2rem;
    line-height: 1.25em;
  }

  h3 {
    font-size: 1.5rem;
  } 
}

/* Tablets and iPads (portrait) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
  /* Text sizes */

  body {
    line-height: 1.375em;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 1.125em;
  }

  h2,
  h3 {
    font-size: 2rem;
    line-height: 1.25em;
  }

  h3 {
    font-size: 1.5rem;
  }
}