* {
    border: 1px solid red;
}

/* Universal Styles */

body {
    max-width: 1200px;
    margin: auto;
}

.scalable {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Flexbox Settings */

.flex {
    display: flex;
}

.flex-row-center,
.flex-row-stretch {
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex-row-stretch {
  align-items: stretch;
}

.flex-row-sa {
    justify-content: space-around;
}

.flex-column-start,
.flex-column-center {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.flex-column-center {
  align-items: center;
}

/* Header */

header.menu {
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

div.logo {
    height: 2rem;
}

nav {
    justify-content: end;
    align-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    justify-content: flex-end;
}

nav ul li {
    padding: 0 1rem;
}

/* Banner */

.banner-img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.banner {
    background-color: lightgray;
}

.banner-sx {
    max-width: 60%;
    height: 100%;
    flex-grow: 3;
    margin: 2rem 1.5rem;
}

.banner-dx {
    max-width: 40%;
    height: auto;
    flex-grow: 2;
    margin: 0 1.5rem;
}

.banner-dx header {
    max-width: 70%;
}

.banner-dx-btn {
    min-width: 70%;
}

.banner-dx-btn button {
    width: 100%;
    padding: 8px 0;
}

/* Blog posts */

.blog {
  background-color: white;
}

.post-sx {
  max-width: 60%;
  height: 100%;
  padding: 2rem 1.5rem;
}

.post-dx {
  max-width: 40%;
  height: 100%;
  padding: 2rem 1.5rem 2rem 0;
}

.post-dx img {
  max-width: 100%;
  height: auto;
}

.post-dx p {
  margin: 0.5rem;
}

.post-dx h3 {
  margin: 0.5rem 0.5rem 0;
}

.left-img {
  max-width: 35%;
  padding: 0 1rem 1rem;
}

.author {
  margin: 2rem 0 0;
}

.paragraph {
  margin: 1.5rem 0 0;
}

.post-sx h2 {
  margin: 2rem 0 0;
}

/* Courses Section */

section.courses {
  background-color: lightgray;
}

.courses header{
  margin-top: 2rem;
}

.courses div {
  margin: 2rem 4rem;
  flex-wrap: wrap;
}

.single-course {
  background-color: white;
  margin: 1rem;
  width: 100%;
  flex: 2 1 30%;
}

.single-course h3,
.single-course p {
  margin: 1rem;
}

.single-course p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

p.courses-categories {
  margin-bottom: 1.5rem;
}

/* Thesis Section */

section.thesis {
  padding: 2rem 0;
}

.thesis-sx {
  max-width: 60%;
  height: auto;
  margin: 0 1.5rem;
}

.thesis-sx p {
  margin-top: 0.5rem;
}

.thesis-dx {
  max-width: 40%;
  height: auto;
}

.thesis-dx-img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.thesis-dx-description {
  width: 65%;
  height: auto;
}

.thesis-dx h3 {
  margin: 0;
}

.thesis-dx p {
  margin: 0.5rem 0;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-top: 1px solid lightgrey;
}

footer p {
  margin: 1rem 1.5rem;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  margin: 0 0.5rem;
}